{%- block currentActiveTab -%}
{%- if definedCurrentRoute -%}
	{%- if definedCurrentRoute is same as(routeUrl) -%}
{#		#}<span class="sr-only">{% trans %}(current){% notes %}Current active tab{% endtrans %}</span>
	{%- endif -%}
{%- endif -%}
{%- endblock -%}
{%- block isActive -%}
{%- if definedCurrentRoute -%}
{#	#}{%- if definedCurrentRoute is same as(routeUrl) -%}
{# The link is active os not #}
{#		#}active{#
#}{%- endif -%}
{%- endif -%}
{%- endblock -%}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<a class="navbar-brand" href="{{ route('/') }}">
	<img src="{{ asset('assets/logo.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="Internet quality logo">
	Internet quality
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% notes %}Toggle navigation menu{% endtrans %}">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav mr-auto">
		{% set routeUrl = '/' %}
		<li class="nav-item {{ block('isActive') }}">
			<a class="nav-link" href="{{ route(routeUrl) }}">{% trans %}Homepage{% notes %}Homepage navbar item{% endtrans %}{{ block('currentActiveTab') }}
				</a>
			</li>
		{% set routeUrl = '/websites' %}
			<li class="nav-item">
			<a class="nav-link {{ block('isActive') }}" href="{{ route(routeUrl) }}">{% trans %}Websites{% notes %}Websites navbar item{% endtrans %}{{ block('currentActiveTab') }}</a>
			</li>
		</ul>
	</div>
</nav>
